body{
  font-family: sans-serif;
  margin:0;
  background-color: #fff;
}
/*Header*/
.header{
  background: radial-gradient(circle, #E7F5FD,#000 92%);
  height: 100vh;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-box{
  width: 370px;
  min-width: 370px;
  max-width: 370px;
  user-select: none;
}
.header-box h1{
  font-size: 60px;
  max-width:370px;
  margin:0 auto;
  font-weight: bold;
}
.header-box h2{
  margin:0 auto;
  font-weight: bold;
  max-width:370px;
}
.header-box p{
  font-size: 13px;
  margin:0;
  float: right;
  max-width:250px;
  font-weight: bold;
}

.btn{
  background-color: #32B3B0;
  width:100px;
  height:45px;
  border-radius: 15px;
  display:flex;
  transition-duration: 0.5s;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: luz_acendendo_btn;
  animation: luz_apagando_btn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.btn:hover{
  background-color: #FFE8B8;
  color:#4F4F4F;
  transition:all;
  transition-duration: 0.5s;
  transform: translateY(-5px);
  animation:none;
}
#a-port{
  text-decoration: none;
  color:#fff;
}
#cv-icon, #gh-icon, #lk-icon{
  transform: scale(1.2);
  transition:transform;
  transition-duration: 0.5s;
}
#lk-icon:hover{
  transform: translateY(-5px);
  transition-duration: 0.5s;
}
.icons{
  text-decoration: none;
  color: #32B3B0;
  border-radius: 50%;
  transition-duration: 0.4s;
  animation: luz_acnd_icon;
  animation: luz_apgn_icon;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.icons:hover{
  color:#FFE8B8;
  transform: translateY(-5px);
  transition-duration: 0.4s;
}
#icon-cv{
  animation-delay: 0s;
}
#icon-gh{
  animation-delay: 250ms;
}
#icon-lk{
  animation-delay: 500ms;
}
abbr{
  text-decoration: none;
}

/*Content*/
.content{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: radial-gradient(circle,#EDBF2B,#EDA52B);
}
.content-box{
  width: 350px;
  height: 350px;
  min-height: 350px;
  min-width: 350px;
  border-radius: 30px;
  margin:100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebcea0;
  box-shadow: 0px 1px 20px 5px #664712;
}
.content-box img{
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
  margin: 0;
}
.content-box h3{
  margin: 0;
  width: 50%;
  background-color: #745C9E;
  text-align: center;
  border-radius: 5px;
  color:#E7F5FD;
  user-select: none;
  position: relative;
  top:15px;
}
.saiba-mais{
  background-color: #745C9E;
  margin: 0;
  position: relative;
  right: -100px;
  top:-10px;
  padding: 5px;
  border-radius: 35px;
  width: 100px;height: 40px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all;
  transition-duration: 0.4s;
  color: #E7F5FD;
}
.saiba-mais a{text-decoration: none;
color: #E7F5FD;
transition: all;
transition-duration: 0.4s;
width: 100%;
}
.saiba-mais:hover{
  transform: translateY(-7px);
  background-color: #ABEBCF;
  color: #565C5F;
}
.saiba-mais a:hover{
  color: #565C5F;
}
.info{
  background-color: #745C9E;
  border-radius: 50%;
  width: 30px;
  min-height: 30px;
  color: #E7F5FD;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  right: -130px;
  top:70px;
  user-select: none;
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
}
.info:hover{
  background-color: #ABEBCF;
  transform: translateY(-7px);
  transition-duration: 0.2s;
  color: #565C5F;
}
/*Animações*/
@keyframes luz_acendendo_btn {
  0%{box-shadow:0;}
  100%{box-shadow: 1px 1px 20px 5px white;}
}
@keyframes luz_apagando_btn {
  50%{box-shadow: 1px 1px 15px 2px white;}
  0%{box-shadow: 0;}
}
@keyframes luz_acnd_icon {
  0%{box-shadow:0;}
  100%{box-shadow: 1px 1px 20px 5px white;}
}
@keyframes luz_apgn_icon {
  50%{box-shadow: 1px 1px 15px 2px white;}
  0%{box-shadow: 0;}
}